.topbar-wrapper(style="z-index: 5;")
  .topbar
    .fill
      .container.fixed
        .row
          .span10.columns.offset1
            h3
              a#desksms-header.link.logo(href='https://market.android.com/details?id=com.koushikdutta.desktopsms') DeskSMS
            ul
              li
                a#desksms-login.login-hide.link(href='javascript:void(0)') Login
              li
                a#connect-google.connect-google.link(href='javascript:void(0)') Sync Contacts
              li
                a#buy-desksms.buy-desksms.hidden(href='javascript:page.purchase()')
                iframe#facebook-like.hidden(src="https://www.facebook.com/plugins/like.php?app_id=258877150806410&amp;href=http%3A%2F%2Fwww.facebook.com%2FClockworkMod&amp;send=false&amp;layout=button_count&amp;width=80&amp;show_faces=false&amp;action=like&amp;colorscheme=dark&amp;font&amp;height=21", scrolling="no", frameborder="0", style="border:none; overflow:hidden; width:80px; height:21px; padding-top: 10px", allowTransparency="true")

            form(action='javascript:void(0)')
              input#contact-search(style='width: 170px;', type='text', placeholder='Enter Name or Number')

            ul.nav.secondary-nav(style='padding-right: 20px')
              li.menu
                a.menu(href='#')
                  img(src='images/options.png')
                ul.menu-dropdown
                  li
                    a(href='javascript:page.showNotificationSettings()') Notification
                  li
                    a(href='javascript:page.showDeliveryOptions()') SMS Delivery
                  li.divider
                  li
                    a.connect-google.link(href='javascript:void(0)') Sync Google
                  li
                    a.connect-facebook.link(href='javascript:void(0)') Sync Facebook
                  li
                    a.clear-data.link(href='javascript:page.clearSyncedData()') Clear Synced Data
                  li#enable-chrome-notifications
                    a(href='javascript:notifications.requestPermissions()') Chrome Notifications
                  li.divider
                  li
                    a(href='javascript:page.showThemes()') Themes
                  li
                    a(href='javascript:page.showReferralDialog()') Referrals
                  li.divider
                  li
                    a(href='javascript:page.pong()') Test Connection
                    a(href='javascript:page.forceSync()') Force Sync
                  li.divider
                  li.login-show.hidden
                    a#desksms-logout.login-show.link(href='javascript:void(0)') Logout
            script
              $(document).ready(function(){
                $("body").bind("click", function(e) {
                    $("ul.menu-dropdown").hide();
                    $('a.menu').parent("li").removeClass("open").children("ul.menu-dropdown").hide();
                  });

                $("a.menu").click(function(e) {
                   var $target = $(this);
                   var $parent = $target.parent("li");
                   var $siblings = $target.siblings("ul.menu-dropdown");
                   var $parentSiblings = $parent.siblings("li");
                   if ($parent.hasClass("open")) {
                     $parent.removeClass("open");
                     $siblings.hide();
                   } else {
                     $parent.addClass("open");
                     $siblings.show();
                   }
                   $parentSiblings.children("ul.menu-dropdown").hide();
                   $parentSiblings.removeClass("open");
                   return false;
                 });
                });

                // clear all cookiess, this is all done with static content.
                function deleteAllCookies() {
                    var cookies = document.cookie.split(";");

                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i];
                        var eqPos = cookie.indexOf("=");
                        var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                        document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
                    }
                }
                deleteAllCookies();

.container(style='padding-top: 60px')
  - each notification in oggs
    - var notificationId = 'notification-' + notification.replace('.', '-');
    audio.hidden(id=notificationId)
      source(src='notifications/' + notification)

  - each notification in mp3s
    - var notificationId = 'notification-' + notification.replace('.', '-');
    audio.hidden(id=notificationId)
      source(src='notifications/' + notification)

  section#alerts
    .row
      .span9.columns.offset1
        .alert-message.error.login-hide
          p New to DeskSMS? Install the DeskSMS Android application to get started! If you have already installed the application, just log in above to send and receive your texts!
          p
            a.btn.small.link(href='https://market.android.com/details?id=com.koushikdutta.desktopsms') Download DeskSMS
        #content-status-not-registered.alert-message.error.hidden
          p Thanks for logging in! Now, you need to install the DeskSMS Android application on your phone send and receive texts!
          p
            a.btn.small.link(href='https://market.android.com/details?id=com.koushikdutta.desktopsms') Download DeskSMS
        #content-status.content-status.hidden.alert-message.success
        #error-alert.alert-message.error.hidden
          p#error-text

  section#content-container
    #conversation-template.conversation-template.hidden
      .row
        .span3.columns(align='center')
          img.contact-image(src='images/desksms-small.png')
          h3
            .contact-name
          strong
            .contact-number
          h6
            .contact-last-message-date
          #conversation-id.hidden

        #contact-messages-internal.span7.columns.well
          .conversation-read-state
            #contact-message-template.contact-message-template.hidden
              strong
                span.message-from
              span=': '
              span.message-content
              span=' '
              em
                span.message-date
              span=' '
              img.message-pending(src='images/message-pending.png')

            #last-message


          .padded-bottom
          .padded-bottom
          form.contact-text-container-hidden.hidden(action='javascript:void(0)')
            textarea.xlarge.contact-text-content(type="text", style='width: 100%', placeholder='press shift-enter to start a new line')
            div(style='font-size: 9px') press enter to send the text
            div(style='font-size: 9px') shift-enter to start a new line
            .contact-text-character-count

          center
            .contact-action-confirm-dialog.hidden
              .contact-action-confirm-question Are you sure?
              a.btn.small.primary.contact-action-confirm-yes(href='javascript:void(0);') Yes
              a.btn.small.contact-action-confirm-no(href='javascript:void(0);') No

          div
            a.contact-text.btn.small.primary(href='javascript:void(0);') Text
            a.contact-call.btn.small(href='javascript:void(0);') Call
            a.contact-delete.btn.small(href='javascript:void(0);') Delete
  

#firefox-extension-data.hidden
iframe#push-iframe.hidden(src='push.html')

#notification-settings.hidden.dialog-container
  .ui-dialog(style='outline-width: 0px; outline-style: initial; outline-color: initial; height: auto; width: 100%;top: 40px; display: block; z-index: 1001;')
    #test-modal.modal(style='position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1')
      .modal-header
        h3 Notification Settings
        a.close(href='javascript:void(0)', onclick='page.closeDialog(this)') &times;
      section.modal-body
        .row
          .span2.columns.padded-bottom
            a.notification.btn.small.secondary(href='javascript:void(0);', onclick='page.setNotification(this)', id='notification-button-None') None
        - each pair in [['ogg', oggs], ['mp3', mp3s]]
          - var notifications = pair[1]
          - var notificationType = pair[0]
          - var count = 0
          - var current = null
          - var rows = []
          - each notification in notifications
            - if (count % 4 == 0)
              - current = []
              - rows.push(current)
            - count = count + 1
            - current.push(notification)
          div(class='notification-type-' + notificationType)
            - each row in rows
              .row
                - each notification in row
                  .span2.columns.padded-bottom
                    - var notificationId = notification.replace('.', '-')
                    a.notification.btn.small.secondary(href='javascript:void(0);', onclick='page.setNotification(this)', id='notification-button-' + notificationId)= stripExtension(notification)
      .modal-footer
        a.btn.primary(href='javascript:void(0)', onclick='page.closeDialog(this)') Done

#buy-dialog.hidden.dialog-container
  .ui-dialog(style='outline-width: 0px; outline-style: initial; outline-color: initial; height: auto; width: 100%; top: 40px; display: block; z-index: 1001;')
    #test-modal.modal(style='position: relative; top: auto; left: auto; margin: auto; z-index: 1')
      .modal-header
        h3 Your purchase helps keep the DeskSMS servers running!
        a.close(href='javascript:void(0)', onclick='page.closeDialog(this)') &times;
      section.modal-body
        center
          .padded-bottom
          #account-status.buy-desksms.padded-bottom
          .padded-bottom
          .padded-bottom
            a(href='javascript:page.purchaseOnGoogleCheckout()')
              img(src='images/google_checkout.png')
          .padded-bottom
          .padded-bottom or
          .padded-bottom
            a(href='javascript:page.purchaseOnMarket()')
              img(src='images/android_market.png')
          #buy-android You can buy a DeskSMS License from within the DeskSMS Android application, or check out <em>now</em> using your same Google Checkout account above!
          .padded-bottom or
          .padded-bottom
            a(href='javascript:page.purchaseOnPayPal()')
              img(src='images/paypal.gif')
          #buy-paypal You can buy a DeskSMS License using PayPal from within the DeskSMS Android application, or check out <em>now</em> using your Google Checkout account above!
          .padded-bottom
          .padded-bottom
            #referral-info
              span You can receive 
              span
                b free time 
              span by referring other users! Use the referral option in the website's menu.
              
      .modal-footer
        a.btn.primary(href='javascript:void(0)', onclick='page.closeDialog(this)') Done

#delivery-options-dialog.hidden.dialog-container
  .ui-dialog(style='outline-width: 0px; outline-style: initial; outline-color: initial; height: auto; width: 100%; top: 40px; display: block; z-index: 1001;')
    #test-modal.modal(style='position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1')
      .modal-header
        h3 SMS Delivery Options
        a.close(href='javascript:void(0)', onclick='page.closeDialog(this)') &times;
      section.modal-body
        center
          .padded-bottom
            a#setting-forward_email.setting.btn.small.secondary(href='javascript:void(0);', onclick='page.toggleSetting(this)') GMail
          .padded-bottom
            a#setting-forward_xmpp.setting.btn.small.secondary(href='javascript:void(0);', onclick='page.toggleSetting(this)') Google Talk
          .padded-bottom
            a#setting-forward_web.setting.btn.small.secondary(href='javascript:void(0);', onclick='page.toggleSetting(this)') Web Interface
      .modal-footer
        a.btn.primary(href='javascript:void(0)', onclick='page.updateDeliveryOptions(this)') Save

#referral-dialog.hidden.dialog-container
  .ui-dialog(style='outline-width: 0px; outline-style: initial; outline-color: initial; height: auto; width: 100%; top: 40px; display: block; z-index: 1001;')
    #test-modal.modal(style='position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1')
      .modal-header
        h3 Refer users to get 10 free days on signup! (50 days max)
        a.close(href='javascript:void(0)', onclick='page.closeDialog(this)') &times;
      section.modal-body
        center
          .padded-bottom
            input#referral-email(placeholder="Friend's GMail Address")
          .padded-bottom
            textarea#referral-message(placeholder="Enter a personal message about how you love DeskSMS!")
      .modal-footer
        a.btn.primary(href='javascript:void(0)', onclick='page.sendReferral(this)') Send

#themes-dialog.hidden.dialog-container
  .ui-dialog(style='outline-width: 0px; outline-style: initial; outline-color: initial; height: auto; width: 100%; top: 40px; display: block; z-index: 1001;')
    #test-modal.modal(style='position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1')
      .modal-header
        h3 Themes
        a.close(href='javascript:void(0)', onclick='page.closeDialog(this)') &times;
      section.modal-body
        center
          .padded-bottom
            a#theme-default.theme.btn.small.secondary(theme='default', href='javascript:void(0);', onclick='page.switchTheme(this)') Default
          .padded-bottom
            a#theme-metro-dark.setting.btn.small.secondary(theme='metro-dark', href='javascript:void(0);', onclick='page.switchTheme(this)') Metro Dark (wavedashdoc)
      .modal-footer
        a.btn.primary(href='javascript:void(0)', onclick='page.closeDialog(this)') Done
